<%- include('../includes/head.ejs') %>
    <style>
        .profile-pic{
            height: 200px;
            width: 200px;
        }
        img {
            height: 200px;
            width: 200px;
        }
        a{
            text-decoration:none ;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main style="display: flex; align-items: center; flex-direction: column;">
        <div  class="profile-pic">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profilePicure">
        </div>
        <h1><%= profileUser.username %></h1>
                <% if (prods.length > 0) { %>
                    <div style="display: flex; align-items: center; flex-direction: column;" >   <h2>Products:</h2>
                        <% for (let product of prods) { %>
                            <article class=" product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                       <a href="/products/<%= product._id %>"><%= product.title %></a> 
                                    </h1>
                                </header>
                            </article>
                            <% } %>
                    </div>
                    <% }  %>
            </main>
            <%- include('../includes/end.ejs') %>